.title {
  color: lightgrey;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  font-weight: 110;
  line-height: 50px;
  letter-spacing: 1.2px;
  padding-left: 5%;
  align-self: auto;
}


.bg-dark {
  background: #272727 !important;
  border-bottom: lightgray;
  border-style: solid;
}

#nav-bar{
  margin-bottom: 2rem;
}


#dienste:hover{
  cursor: pointer;
}
