<div class="content">

  <section>
    <div class="card-deck ml-1 mr-1">

      <div class="card shadow-lg" id="deck-card">
        <div class="card-body">
          <div class="embed-responsive embed-responsive-16by9 z-depth-5 iFrame">
            <iframe class="embed-responsive-item" src="https://youtube.com/embed/2dy9fLZEg9A" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="card shadow-lg" id="deck-card">
        <div class="card-body">
          <app-rss></app-rss>
        </div>
      </div>

    </div>
  </section>



  <div class="shadow-lg jumbotron card card-image" id="fak-panel">
    <section >
          <div class="tab-content">
            <div class="tab-pane fade show in active" id="panel31" role="tabpanel">
              <div class="row">


                <div class="col-md-12 col-lg-4" id="fakult">
                  <a class="card hoverable shadow-lg" data-toggle="modal" data-target="#basicExampleModal">
                    <img class="card-img-top" src="https://www.dhbw-stuttgart.de/fileadmin/_processed_/d/6/csm_2000_725_Informatik_iStock-andresr-691693132_1fb354fb41.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="my-3 font-weight-bold">Informatik</h5>
                      <hr/>
                      <p class="card-text mb-3">
                        Informatiker übertragen Vorgänge der realen Welt auf Computersysteme,
                        indem sie die Aufgabenstellung in geeignete Modelle überführen und diese dann
                        auf Softwaresystemen abbilden. Die Vielfalt an Anwendungsmöglichkeiten ist dabei
                        nahezu unbegrenzt und steigt stetig mit der zunehmenden Leistungsfähigkeit der Systeme.
                      </p>
                    </div>
                  </a>
                </div>


                <div class="col-md-6 col-lg-4" id="fakult">
                  <a class="card hoverable sadow-lg " data-toggle="modal" data-target="#basicExampleModal">
                    <img class="card-img-top" src="https://www.dhbw-stuttgart.de/fileadmin/_processed_/f/0/csm_2000_725_ET_iStock-517227138_high_2125e064c6.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="my-3 font-weight-bold">Elektrotechnik</h5>
                      <hr/>
                      <p class="card-text mb-3">
                        Die Elektrotechnik bewegt und verändert die Welt:
                        Smartphones, Assistenzsysteme, Smart Home oder Medizintechnik sind aus
                        unserem Leben nicht mehr wegzudenken, die Energiewende ist in aller Munde.
                        Ingenieurinnen und Ingenieure der Elektrotechnik gestalten und entwickeln
                        die Systeme und haben so einen direkten Einfluss auf unser alltägliches Leben.
                        Sie befassen sich nicht nur mit elektrischen und elektronischen Systemen, sondern arbeiten
                        in einem sehr vielfältigen Arbeitsfeld, das von der Entwicklung eines Produkts
                        über das Projektmanagement bis hin zu Marketing und Vertrieb reicht.
                      </p>
                    </div>
                  </a>
                </div>


                <div class="col-md-6 col-lg-4"  id="fakult" >
                  <a class="card hoverable shadow-lg " data-toggle="modal"  >
                    <img class="card-img-top" src="https://www.dhbw-stuttgart.de/fileadmin/_processed_/a/a/csm_2000_725_MB_iStock-909932182_2f6067c770.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="my-3 font-weight-bold">Maschinenbau</h5>
                      <hr/>
                      <p class="card-text mb-3">
                        Der Maschinenbau mit seinen zahlreichen Ausprägungen verknüpft Theorie
                        und Praxis, Naturwissenschaft und Technik. Die umfassende Ausbildung an
                        der Dualen Hochschule Stuttgart ermöglicht es Absolventinnen und Absolventen
                        des Studiengangs, Aufgaben in vielen Tätigkeitsfeldern zu übernehmen.
                        </p>
                    </div>
                  </a>
                </div>

              </div>
            </div>
          </div>
        </section>
  </div>







 <div id="goToTop">
  <a href="#top">
    <img src="../../assets/arrowUp.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="Top" id="goToTopImg" >
  </a>
 </div>





</div>

