
<div style="overflow: auto; heigt:5rem;" class="bg-transparent">
      <div class="modal-header bg-dark text-center h-40">
        <h3 class="modal-title  text-white text-uppercase w-100 font-weight-bold">Wiki-Search</h3>
        <button type="button"  class=" btn btn-light  mb-3" aria-label="Close" (click)="onClose()">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="input-group">
        <input #searchInput type="text" class="form-control" placeholder="Search in Wikipedia">
        <div class="input-group-append">
          <button class="btn btn-info" type="button" (click)="search()">
          Search
          </button>
        </div>
      </div>

      <div *ngIf="found">
        <div class="card">
          <div class="card-body" id="wikiCard">

            <div *ngIf="!success">
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>No Results found</strong> You might search for something else...
              </div>
            </div>

            <h4 id="resultTitle" class="card-title"></h4>
            <h6 id="resultDesc" class="card-subtitle mb-2 text-muted"></h6>
            <p id="resultExtract" class="card-text">
            </p>
            <audio controls>
              <source src="../assets/wiki.wav" type="audio/wav">
              No supported Audio
            </audio>
            <a  id="wikiButton" href="{{wikiURL}}"><button type="button"  class="btn btn-outline-info" >Open Wikipeadia-Page</button></a>
          </div>
        </div>
      </div>
</div>

