.card:hover {
  border-width: 0.15rem;
  background: rgba(32, 162, 184, 0.1);
}



.date {
  color: #808080;
  font-size: 10pt;
}

.projectCreator {
  color: grey;
  font-size: 10pt;
  font-style: italic;
}

.card {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  color: inherit;
}
