/* You can add global styles to this file, and also import other style files */

#landing {
  background: #272727;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
